<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="static/img/only_logo.png">
    <title>CapGen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./static/fonts/material-icons.min.css">
    <link rel="stylesheet" href="./static/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="./static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body class="style-body">
    <nav class="navbar navbar-default fixed-top navbar-light navbar-expand-md align-self-center" style="height: 6vh;background: #ffffff;" id="navbarID">
        <div class="container-fluid">
            <a class="navbar-brand align-self-center page-scroll" href="#index" style="width: 35%;">
                <img class="align-self-center" src="static/img/logo_main.svg" style="width: 120px;">
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end my-5" id="navcol-1">
                <ul class="nav navbar-nav justify-content-between" style="width: 383px;">
                    <li class="nav-item">
                        <a class="nav-link page-scroll align-self-center" href="#about" style="padding-left: 30px;padding-right: 30px;">About Us</a>
                    </li>
                    <li class="nav-item" style="width: 100px;text-align: center;background: #1da1f2;border-radius: 6px;">
                        <a class="nav-link page-scroll" href="#upload" style="width: 100px;color: rgb(255,255,255);border-radius: 0px;text-align: center;padding-left: 30px;height: 40px;padding-right: 30px;">Try It</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link page-scroll align-self-center" href="#contact" style="padding-left: 30px;padding-right: 30px;">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 100vh;background: url(&quot;static/img/bg_main.png&quot;) bottom / cover no-repeat;font-family: Montserrat, sans-serif;" id="index">
        <div class="block-container">
            <div class="container">
                <div class="row" style="height: 94vh;">
                    <div class="col-md-6 text-center d-flex justify-content-center align-content-center align-self-center text-col">
                        <section class="text-left hero-text" style="padding-bottom: 0px;height: 188px;padding-top: 0px;">
                            <h1 style="color: rgb(0,0,0);font-weight: bold;font-size: 36px;padding-bottom: 10px;">Get your perfect caption in just seconds</h1>
                            <h1 style="color: rgb(0,0,0);font-size: 18px;line-height: 21px;padding-bottom: 12px;/*max-width: 417px;*/">AI generated captions to take your social media game to the next level <br></h1>
                            <a href="#">
                                <img src="static/img/google_play.png" style="width: 146px;">
                            </a>
                        </section>
                    </div>
                    <div class="col-md-6 text-center d-flex justify-content-center align-items-center" style="padding-top: 0px;">
                        <img src="static/img/phone_mockup_hero.png" style="width: 270px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background: url(&quot;static/img/bg_about.svg&quot;) bottom / cover no-repeat;font-family: Montserrat, sans-serif;" id="about">
        <div class="block-container">
            <div class="container">
                <div class="row" style="">
                    <div class="col-md-6 text-center d-flex align-items-md-start text-col-1" style="height: 94vh;">
                        <section class="text-left hero-text" style="padding-bottom: 0px;height: 188px;margin-bottom: 206px;">
                            <h1 style="color: rgb(0,0,0);font-weight: bold;font-size: 36px;padding-bottom: 10px;">About Us</h1>
                            <h1 style="color: rgb(0,0,0);font-size: 18px;line-height: 21px;padding-bottom: 12px;max-width: 417px;text-align: center;">“We generate captions so that you can focus on smiling :) “<br></h1>
                            <p style="margin-bottom: 16px;">A normal teenager, social media firms and influencers have one thing in common. <br></p>
                            <p style="margin-bottom: 16px;">The need for a perfect caption to go along with the portrait they just clicked.<br></p>
                            <p style="margin-bottom: 16px;">We use ML and AI technologies to carefully assess the tone of the image and then generate a caption-kit personalised just for you!<br></p>
                        </section>
                    </div>
                    <div class="col-md-6 text-center d-flex justify-content-center align-items-center" style="padding-top: 0px;">
                        <img src="static/img/two_phones.svg" style="width: 383px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="upload" style="height: 94vh;color: rgba(0,0,0,0);font-family: Montserrat, sans-serif;background: url(&quot;static/img/bg_upload.svg&quot;) bottom / cover no-repeat;">
        <div class="container-fluid text-center text-sm-center text-md-center text-lg-center text-xl-center d-flex flex-column align-items-center" style="text-align: center;padding-top: 121px;margin-bottom: 0px;">
            <form id="form" enctype="multipart/form-data" method="post">
                <input type="file" name="file" id="file" style="width: 0; height: 0; visibility: hidden;" accept="image/*">
            </form>
            <section class="d-flex flex-column" style="height: 265px;">
                <img src="static/img/fake_img.svg" style="position: static;width: 239px;" class="uploaded">
                <button class="submit-btn" style="transform: translate(55px,-60px); background: transparent; border: none;">
                    <img src="static/img/plus_symbol.svg" style="/*transform: translate(133px,-60px);*/padding-bottom: 0px;width: 80px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
                </button>
            </section>
            <p style="color: #000000;font-size: 32px;font-weight: 700;margin-bottom: 7px;">Add your photo<br></p>
            <p style="color: #000000;min-height: 0px;text-align: center;max-height: -1px;">Our program analyzes the subject and the tone of your image to curate a personalised A.I. generated caption <br></p>
            <div class="d-flex justify-content-center align-items-center align-self-center" style="width: 130px;padding-top: 4px;padding-bottom: 4px;height: 52px;color: rgb(255,255,255);background: #1da1f2;border-radius: 91px;text-align: center;">
                <button style="width: 138px;background: rgba(152,75,75,0); border: none;" class="generate">
                    <img class="align-self-center rotatable" src="static/img/only_logo.svg" style="width: 34px;">
                </button>
            </div>
        </div>
    </div>
    <div class="d-none" style="background: url(&quot;static/img/Group%2056.svg&quot;) bottom / cover no-repeat;" id="gen-text">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-content-center align-items-xl-center" style="box-shadow: 0px 0px;height: 94vh;">
                    <section class="d-flex justify-content-xl-center align-items-xl-start" style="height: 450px;background: #f5f5f5;font-family: Montserrat, sans-serif;box-shadow: 2px 4px 3px rgba(0,0,0,0.25);width: 350px;border-radius: 37px;margin-right: 51px;">
                        <section class="pic-sec" style="height: 359px;box-shadow: inset 4px 4px 4px rgba(0,0,0,0.25);border-radius: 37px;padding-top: 0px;margin-top: 26px;width: 300px;"></section>
                    </section>
                </div>
                <div class="col-md-6 d-xl-flex align-items-xl-center" style="height: 94vh;">
                    <section style="width: 486px;">
                        <h1 style="font-family: Montserrat, sans-serif;font-weight: 600;margin-bottom: 25px;">Top Suggestions</h1>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <p class="py-2 head active show-caption" style="font-size: 20px;font-family: Montserrat, sans-serif;font-weight: 500;">Captions</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <p class="py-2 head show-hashtag" style="font-size: 20px;font-family: Montserrat, sans-serif;font-weight: 500;">Hashtags</p>
                            </div>
                        </div>
                        <div class="captions">
                            <ul class="cap-list px-3 py-3 style-4" id="">
                            </ul>
                            <div class="text-center">
                                <button class="more_butt"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                        <div class="hashtags d-none">
                            <div class="tag-list style-4 px-3 pt-3 pb-2">
                
                            </div>
                            <div class="emojis px-3 mb-2">
                                <div class="d-flex justify-content-between mt-4" style="font-family: Montserrat, sans-serif;">
                                    <p style="font-size: 24px;font-family: Montserrat, sans-serif;font-weight: 500;">Emojis</p>
                                    <i class="material-icons refresh-button">refresh</i>
                                </div>
                                <div class="d-flex justify-content-between emo-list">
                                </div>
                            </div>

                        </div>
                        <!--
                        
-->
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" style="background: url(&quot;static/img/feedback_bg.svg&quot;) no-repeat, #ffffff;background-size: contain, auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <section>
                        <h1 style="font-family: Montserrat, sans-serif;font-weight: 600;">Contact Us</h1>
                        <p style="font-family: Montserrat, sans-serif;margin-bottom: 4px;">We love to hear what our users have to say :D<br></p>
                        <p style="font-family: Montserrat, sans-serif;">Let us know if there is something we can do to improve your experience.<br></p>
                    </section>
                </div>
                <div class="col-md-6" style="border-radius: 0px;">
                    <form class="text-center" method="post" style="background: #f9f9f9;border-radius: 37px;margin-top: 51px;padding-top: 0px;box-shadow: 2px 3px 2px rgba(0,0,0,0.25);width: 474px;">
                        <h2 class="text-center" style="padding-bottom: 41px;border-radius: 0px;"></h2>
                        <div class="form-group d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                            <input class="form-control" type="text" name="name" placeholder="Name" style="width: 80%;border-width: 0px;background: #f9f9f9;box-shadow: inset 2.5px 2.5px 5px #a6abbd, inset -2.5px -2.5px 9px #fafbff;font-family: Montserrat, sans-serif;">
                        </div>
                        <div class="form-group d-flex flex-column align-items-center align-items-sm-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center">
                            <input class="form-control d-xl-flex is-invalid" type="email" name="email" placeholder="Email" style="width: 80%;background: #f9f9f9;border-width: 0px;box-shadow: inset 2.5px 2.5px 5px #a6abbd, inset -2.5px -2.5px 5px #fafbff;font-family: Montserrat, sans-serif;">
                        </div>
                        <div class="form-group d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                            <textarea class="form-control" name="message" placeholder="Message" rows="14" style="width: 80%;box-shadow: inset 2.5px 2.5px 5px #A6ABBD, inset -2.5px -2.5px 5px #fafbff;background: #f9f9f9;font-family: Montserrat, sans-serif;border-width: 0px;"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" style="margin-bottom: 15px;border-radius: 37px;width: 101px;font-family: Montserrat, sans-serif;box-shadow: 2px 4px 3px rgba(0,0,0,0.25);">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center d-flex justify-content-xl-center" style="font-family: Montserrat, sans-serif;">
            <p class="text-center" style="font-family: Montserrat, sans-serif;margin-bottom: 5px;margin-top: 62px;">©&nbsp;Gagan Talreja, Souvik Mishra</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./static/js/main.js"></script>
    <script src="./static/js/scroller.js"></script>
    <script>

    </script>

</body>

</html>
